# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Logs & Temp
*.log
npm-debug.log*

# Node modules (if npm is used)
node_modules/
package-lock.json

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo
graphify-out/
